// Theme

@import 'normalizecss/normalize.css'

$background = #111
$orange = #F30
$white = #ddd
$serif = didot, times new roman, serif
$sans-serif = futura, helvetica, arial, arial, sans-serif
$monospace = prestige elite std, consolas, courier new, monospace
$emdash = '\2014'

*
  margin: 0
  padding: 0

.bespoke-parent
  font-size: 1.5em
  background: $background
  color: $white
  font-family: $sans-serif
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  text-align: center
  transition: background 1s ease
  background-position: 50% 50%

.bespoke-scale-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  z-index: 1
  .bespoke-active
    pointer-events: auto

.bespoke-slide
  transition: opacity .5s ease
  width: 940px
  height: 480px
  position: absolute
  top: 50%
  left: 50%
  margin-left: -(@width / 2)
  margin-top: -(@height / 2)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  z-index: 1

.bespoke-active
  transition-delay: .5s
  &[data-bespoke-backdrop]
    transition-delay: .75s

.bespoke-inactive
  opacity: 0
  pointer-events: none

.bespoke-backdrop
  transition: opacity 1s ease
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  opacity: 0
  &-active
    opacity: 1

.bespoke-progress-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  height: .3vw
  z-index: 1

.bespoke-progress-bar
  background: $white
  position: absolute
  top: 0
  left: 0
  height: 100%
  transition: width 1s ease

.bespoke-bullet
  transition: opacity .3s ease

.bespoke-bullet-inactive
  opacity: 0

strong
  font-weight: 400

hr
  width: 50%
  margin: 1rem auto
  height: 1px
  border: 0
  background: $white

h1, h2, h3, p, li
  padding-left: 20px
  padding-right: 20px

h1, h2, h3, p, li, pre
  font-weight: 200

h1
  letter-spacing: .3em
  text-transform: uppercase
  font-weight: 400
  line-height: 1.4em
  padding: 1em
  border: 1px solid $white
  border-left-width: 0
  border-right-width: 0
  margin: 0.17em 0
  position: relative
  min-width: 8em

h2
  letter-spacing: .3em
  text-transform: uppercase
  font-weight: 400
  line-height: 1.1em
  padding: 0
  padding-left: @letter-spacing
  margin: 0.17em 0
  position: relative

h3
  font-family: $serif
  font-style: italic
  font-size: 1.2em
  line-height: 1.6em
  margin: .5em 0

h4
  text-transform: uppercase
  font-size: .8em
  line-height: 1.8em
  letter-spacing: .3em
  margin: 1em 0

ul, ol
  padding: 0
  margin: 0
  text-align: left

li
  list-style: none
  margin: .2em
  font-style: normal
  transform: translateX(-6px)
  &:before
    content: $emdash
    margin-right: 4px

pre
  background: none !important

code
  font-family: $monospace !important
  font-style: normal
  font-weight: 200 !important
  text-align: left

a
  padding-left: .3em
  color: currentColor
  text-decoration: none
  border-bottom: 1px solid currentColor

.emphatic
  background: $orange

.bespoke-backdrop
  opacity: 0
  transition: opacity 1s ease, transform 6s ease
  background-size: cover
  background-position: 50% 50%
  transform: translateZ(0) scale(1.3)
  &-active,
  &-before
    transform: translateZ(0)
  &-before
    transition-delay: .2s
  &-active
    opacity: 0.5

// Overrides

@import 'prism/themes/prism-okaidia.css'

pre.small
  font-size: .7em
  padding: 0

sup
  font-size: 0.3em
  position: relative
  top: -1.5em

h1 a
  border: none

h1.name
  font-size: 1.3em
  margin: 0

.avatar
  filter: grayscale(30%)
  width: 120px
  height: @width
  border-radius: 100%
  margin: .5em 0

.single-words
  word-spacing: 9999px
  line-height: 2.9em
  overflow: hidden

.bespoke-slide
  z-index: 1

pre
  padding: 2em !important

pre, code
  margin: 0 !important

.backdrop
  &--orion
    background-image: url('../images/orion.jpg')
    background-position: 0 0
    &.bespoke-backdrop-active
      opacity: 0.4
    &.bespoke-backdrop-before
      transition-delay: 2s
  &--lightning
    background-image: url('../images/lightning.gif')
    &.bespoke-backdrop-active
      opacity: 0.75
  &--poisonapple
    background-image: url('../images/poisonapple.gif')
    background-position: 50% 80%
    &.bespoke-backdrop-active
      opacity: 0.25
  &--backbonejs
    background-color: white
    background-image: url('../images/backbonejs.png')
    background-size: 30%
    background-repeat: no-repeat
    &.bespoke-backdrop-active
      opacity: 0.15
  &--angularjs
    background-color: white
    background-image: url('../images/angularjs.png')
    background-size: 30%
    background-repeat: no-repeat
    transition-delay: 1s
    &.bespoke-backdrop-active
      opacity: 0.15
    &.bespoke-backdrop-after
      transition-delay: 0s
    &.bespoke-backdrop-before
      transition-delay: 2s
  &--chrome
    background-image: url('../images/chrome.jpg')
  &--clojure
    background-image: url('../images/clojure.jpg')
    &.bespoke-backdrop-active
      opacity: 0.2
  &--petehunt
    filter: grayscale(50%)
    background-image: url('../images/petehunt.jpeg')
    background-position: 50% 0
    transform-origin: 50% 20%
    transition: opacity 1s ease, transform 16s ease
    &.bespoke-backdrop-active
      opacity: 0.2
  &--leebyron
    background-image: url('../images/leebyron.jpeg')
    transform-origin: 50% 40%
    &.bespoke-backdrop-active
      opacity: 0.25
  &--swannodette
    background-image: url('../images/swannodette.jpg')
    background-position: 50% 0
    transform-origin: 60% 40%
  &--raynos
    background-image: url('../images/raynos.jpeg')
    &.bespoke-backdrop-active
      opacity: 0.4
  &--mattesch
    background-image: url('../images/mattesch.png')
    background-position: 0 100%
    transform-origin: 20% 50%
  &--pascalhartig
    background-image: url('../images/pascalhartig.jpeg')
    background-position: 0 20%
    transform-origin: 30% 30%
    transition: opacity 1s ease, transform 16s ease
  &--nicolasgallagher
    background-image: url('../images/nicolasgallagher.jpeg')
    filter: grayscale(100%)
    transform-origin: 50% 40%
    transition: opacity 1s ease, transform 16s ease
  &--yellow
    background: #D2D22E
    &.bespoke-backdrop-active
      opacity: 1
  &--still
    transition: opacity 1s ease
    transform: none
  &--bw
    filter: grayscale(100%)

.yellow
  color: black
  h1
    border-color: currentColor

.bullet.expand
  transition: all 2s ease
  opacity: 0
  overflow-x: hidden
  overflow-y: visible
  max-width: 0
  display: inline-block
  white-space: nowrap
  text-align: center
  line-height: 1.1em
  position: relative
  top: .2em
  &.bespoke-bullet-active
    opacity: 1
    max-width: 500px
